*{
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.content-box {
  background: #b0b0b0;;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 30px !important;
  margin-bottom: 10px;
  font-weight:700 !important;
}

h2{
  font-size: 24px;
  font-weight:600 !important;
}

p {
  color: #232323;
}

.setup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-box, .results-box {
  margin-top: 20px;
}

.player-input, .headers {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
}

.headers .col10{
  width:10%;
}

.headers span {
  width: 30%;
  text-align: left;
  font-size:14px;
  padding-left:6px;
}

input {
  width: 30%;
  text-align: left;
  padding: 6px 8px;
  border: 0px solid #ddd;
  border-radius: 4px;
  width: 100%;
  font-size:14px;
}

button {
  padding: 6px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size:14px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.results-box p {
  margin: 5px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button {
  background-color: #dc3545;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
}

.remove-button:hover {
  background-color: #c82333;
}

.total-stack-display {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

table{
  width: 100%;
}